@font-face {
    src: url("./fonts/AvenirNextCyr-Regular.ttf");
    font-family: AvenirNext;
}

@font-face {
    src: url("./fonts/ProximaNova-Reg.otf");
    font-family: ProximaNova;
}

@font-face {
    src: url("./fonts/ProximaNova-Light.otf");
    font-family: ProximaNova;
}

@font-face {
    src: url("./fonts/Montserrat-Regular.ttf");
    font-family: Montserrat;
}

@font-face {
    src: url("./fonts/ProximaNova-Semibold.ttf");
    font-family: ProximaNova;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px 0px 50px;
}

.menu {
    display: flex;
    width: 500px;
    justify-content: space-between;
    list-style: none;
}

.menu_link {
    color: #ffffff;
    font-size: 13px;
    padding: 20px 0px 0px 0px;
    text-transform: uppercase;
    font-family: AvenirNext, sans-serif;
}

.background_image {
    background-image: url("./images/background.jpg");
    height: 760px;
    background-repeat: no-repeat;
    background-size: cover;
}

.headline {
    color: #ffffff;
    font-size: 40px;
    text-transform: uppercase;
    margin: 500px 300px 0px 50px;
    font-family: AvenirNext, sans-serif;
}

.subline {
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    margin: 10px 500px 0px 200px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.main_body {
    background-color: #a2ca28;
    padding: 80px 0px 0px 0px;
}

.options {
    width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.option {
    padding: 0px 30px 80px 0px;
}

.option_icon {
    height: 60px
}

.option_title {
    color: #ffffff;
    font-size: 24px;
    height: 40px;
    text-transform: capitalize;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.option_text {
    color: #ffffff;
    font-size: 14px;
    width: 260px;
    height: 80px;
    font-family: ProximaNova, sans-serif;
    font-weight: 400;
}

.option_link {
    color: #ffffff;
    font-size: 14px;
    font-family: ProximaNova, sans-serif;
    font-weight: 400;
}

.section {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0px auto;
}

.description {
    height: 394px;
    width: 406px;
    background-color: #ffffff;
}

.subtitle {
    color: #fd634e;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0px 10px 0px;
    font-family: Montserrat, sans-serif;
}

.title {
    color: #a2ca28;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0px 20px 0px;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    color: #656e74;
    font-size: 14px;
    text-align: center;
    margin: 20px 55px 0px 55px;
    height: 80px;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
}

.link {
    display: block;
    text-align: center;
    color: #a2ca28;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
}

.picture {
    position: absolute;
    top: 0px;
    left: 0px;
}

.hover {
    width: 794px;
    height: 394px;
    position: relative;
}

.hover:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
}

.text_hover {
    position: absolute;
    top: 140px;
    left: 340px;
    text-align: center;
    z-index: 2;
}

.hover_subtitle {
    color: #fd634e;
    font-size: 14px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
}

.hover_title {
    color: #a2ca28;
    font-size: 35px;
    text-transform: uppercase;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
}

.form_section {
    background-color: #000;
    height: 200px;
}

.form {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding: 50px 0px 50px 150px;
}

.input {
    color: #83969f;
    font-size: 14px;
    font-family: ProximaNova, sans-serif;
    font-weight: 400;
    padding: 10px 20px 10px 20px;
}

.button {
    background-color: #a2ca28;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    font-size: 15px;
    font-family: ProximaNova, sans-serif;
    font-weight: 600;
}

.SMM {
    display: flex;
    width: 300px;
    justify-content: space-between;
    list-style: none;
    margin: 0px 150px 0px 0px;
}

.SMM_channel1 {
    border-radius: 20px;
    background-color: #2e3192;
    width: 40px;
}

.SMM_channel2 {
    border-radius: 20px;
    background-color: #00aeef;
    width: 40px;
}

.SMM_channel3 {
    border-radius: 20px;
    background-color: #ed3123;
    width: 40px;
}

.SMM_channel4 {
    border-radius: 20px;
    background-color: #171a8f;
    width: 40px;
}

.SMM_icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
 padding: 10px 0px 10px 0px;
 

}